.picker {
  width: 400px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
  z-index: 100;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  top: 220px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 200px;
  width: 600px;
  padding: 20px;
  border-radius: 12px;
  color: #ffffff;
  background-color: rgba(37, 37, 37, 0.95);
  transform: translate3d(0, -60px, 0);
  transition: 0.4s all;
  svg {
    pointer-events: none;
  }
  .header {
    font-size: 24px;
  }
  .body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        display: flex;
        background: #363636;
        padding: 5px 15px;
        border-radius: 5px;
        &:hover {
          background: #595959;
        }
      }
      .close:hover {
        background: #a90000;
      }
    }
  }
}
