.socials {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
  img {
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .round {
    border-radius: 50px;
  }
}
