.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  /*background: #575dbd;*/
  -webkit-app-region: drag;
  .name {
    /*background: #30397c;*/
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://cdn.discordapp.com/attachments/1151577782908883106/1273067281500344380/altromonlauncher.png?ex=66bd43cc&is=66bbf24c&hm=b3cb481c79a6e7b62e4ce2ce420156496b10ac8ddba3021e6fb73dacb4604bc1&");
    color: #575dbd;
    width: 270px;
    /*clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);*/
  }
}

.body {
  display: flex;
  height: 405px;
  /*background: #212121;*/
}

.footer {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 75px;
  /*backdrop-filter: blur(50px);*/
  /*background: #1c1c1c;*/
}
