.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: #575dbd;
  -webkit-app-region: drag;
  .name {
    display: flex;
    background: #30397c;
    color: #575dbd;
    width: 340px;
    height: 100%;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    padding-left: 20px;
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
  }
}

.body {
  display: flex;
  height: 405px;
  background: #212121;
}

.footer {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 75px;
  background: #1c1c1c;
}
