* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "elliot", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  color: white;
  background: black;
}

.rs-picker-popup {
  margin-top: -2px;
  background: #2a2a2a;
  .rs-picker-select-menu-item.rs-picker-select-menu-item-active {
    background: transparent;
    color: #e5e5e5;
    &:hover {
      background: #242424;
    }
  }
  .rs-picker-select-menu-item {
    color: #e5e5e5;
    &:hover {
      background: #242424;
    }
  }
}

.rs-picker-input, .rs-picker-default .rs-btn, .rs-picker-default .rs-picker-toggle, .rs-picker-input .rs-btn, .rs-picker-input .rs-picker-toggle {
  background-color: #232323!important;
  border: 1px solid #232323!important;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: #d0d0d0;
  font-weight: bold;
}

.rs-picker.rs-picker-focused, .rs-picker.rs-picker-focused, .rs-picker:not(.rs-picker-disabled):hover {
  border: 1px solid #232323;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.rs-picker-input .rs-picker-toggle {
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
  input {
    cursor: pointer;
  }
}

.launcher {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
width: 1px;
}

::-webkit-scrollbar-thumb {
background-color: #bbbbbb;
}

::-webkit-scrollbar-track {
background-color: #3c3c3c;
}

.rs-panel-btn, .rs-panel-btn:active, .rs-panel-btn:focus, .rs-panel-btn:hover {
font-size: 18px;
color: white;
background: transparent;
}

.rs-panel-collapsible>.rs-panel-header, .rs-panel-btn {
padding: 0;
}

.rs-panel-body {
font-size: 16px;
padding: 0;
}

.rs-panel-header+.rs-panel-body, .rs-panel-header+.rs-panel-body-collapse .rs-panel-body {
padding-top: 10px;
}

.rs-panel-group.rs-panel-group-accordion {
width: 100%;
}

@font-face {
font-family: "elliot ";
src: url("/public/fonts/elliot.woff2");
font-weight: normal;
font-style: normal;
}