.changeLog {
  display: flex;
  flex-direction: column;
  height: 405px;
  max-height: 405px;
  width: 630px;
  padding: 10px;
  overflow-y: scroll;
  gap: 15px;
  font-size: 18px;
  .block {
    padding: 7px;
    background: #232323;
    border-radius: 10px;
    font-size: 16px;
    &.update {
      display: flex;
      gap: 8px;
      font-size: 18px;
      svg {
        fill: white;
        margin-left: auto;
        width: 24px;
        height: 30px;
        cursor: pointer;
        transition: 0.15s fill ease-in;
        &:hover {
          fill: #bbb;
        }
      }
    }
    .icon img {
      height: 32px;
      width: 32px;
      -webkit-user-drag: none;
      user-select: none;
    }
    &.text {
      font-size: 30px;
    }
  }
  .dateBlock {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
    .border {
      height: 2px;
      width: 100%;
      background: rgb(187,187,187);
      background: linear-gradient(90deg, rgba(187,187,187,1) 0%, rgba(33,33,33,1) 100%);
      clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
    }
  }
  .actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.center {
  display: flex;
  align-items: center;
}
